<%-include("head")-%>
<%-include("../views/navigationGeneral")-%>
<style>
    *{
margin: 0px;
padding: 0px;
}


body.light-mode {
  background-color: #ffffff;
  color: #000;
}
body.light-mode ul {
  background-color: #5481c1;
}
body{
  background-color: rgb(93, 87, 87);
}
li {
    display: inline;
}

#login >{
    text-align: center;
}
/* Add a black background color to the top navigation */
ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  text-align: center;
  float: left;
}


a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

 </style>
<script>

    // functions to set and get theme from session storage
window.onload = setThemeFromSessionStorage;

function setThemeFromSessionStorage() {
  var theme = sessionStorage.getItem("theme");
  if (theme === "light") {
    setLightMode();
  } else {
    setDarkMode();
  }
}

function setSessionStorage(name, value) {
  sessionStorage.setItem(name, value);
}

function getSessionStorage(name) {
  return sessionStorage.getItem(name);
}

// functions to toggle theme
function toggleTheme() {
  var body = document.querySelector("body");
  var ul = document.querySelector("ul");
  if (body.classList.contains("light-mode")) {
    setSessionStorage("theme", "dark");
    setDarkMode();
  } else {
    setSessionStorage("theme", "light");
    setLightMode();
  }
}

// functions to set light and dark mode
function setLightMode() {
  var body = document.querySelector("body");
  var ul = document.querySelector("ul");
  body.classList.remove("dark-mode");
  body.classList.add("light-mode");
  ul.classList.remove("dark-ul");
  ul.classList.add("light-ul");
}


function setDarkMode() {
  var body = document.querySelector("body");
  var ul = document.querySelector("ul");
  body.classList.remove("light-mode");
  body.classList.add("dark-mode");
  ul.classList.remove("light-ul");
  ul.classList.add("dark-ul");
}


// call the function on page load
setThemeFromSessionStorage();

</script>
<style>
    .box {
      border: 1px solid black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      position: absolute; top: 100px; left: 42%;
      padding: 20px;
      border-radius: 10px;
    }
    table {
      margin: 0 auto;
    }
  </style>
  <script>
  function checkPassword() {
  var password = document.getElementById("password").value;
  var confirmPassword = document.getElementById("confirmPassword").value;
  var originalInnerHTML = document.getElementById("passwordError").innerHTML;

  if (password != confirmPassword) {
    document.getElementById("passwordError").innerHTML = "Hesla se neshodují.";
    document.getElementById("passwordError").style.display = "block";
    return false;
  }

  if (password.length < 5 ) {
    document.getElementById("passwordError").innerHTML = "Heslo musí být aspoň 5 charakterů dlouhé.";
    document.getElementById("passwordError").style.display = "block";
    return false;
  }

  document.getElementById("passwordError").innerHTML = originalInnerHTML;
  document.getElementById("passwordError").style.display = "none";
  return true;
}
  </script>

<div class="box">

    <form action="/user/changePassword/:id_user" method="post">
        <table>
          <tr>
            <td><label for="password">New Password:</label></td>
            <td><input type="password" class="form-control" id="password" name="password"></td>
          </tr>
          <tr>
            <td><label for="confirmPassword">Confirm Password:</label></td>
            <td><input type="password" class="form-control" id="confirmPassword" name="confirmPassword"></td>
          </tr>
          <tr>
            <td colspan="2">
              <div id="passwordError" style="display:none; color:red">Passwords do not match</div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="submit" class="btn btn-primary" onclick="return checkPassword()">Change Password</button>
            </td>
          </tr>
        </table>
      </form>



</div>


<%-include("footer")-%>