<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styleIndex.css">   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../public/dark-light-script.js" ></script>
      
    <script src="https://kit.fontawesome.com/30de2e9327.js" crossorigin="anonymous"></script>
    <title>Class register</title>

</head>
<body>
    

