<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styleIndex.css">   
    <script src="https://kit.fontawesome.com/30de2e9327.js" crossorigin="anonymous"></script>
    <title>Třidní kniha</title>

</head>
<body>
    

