<%-include("head")-%>
<body>
    <%-include("navigationLogin")-%>

    <form id="login" method="POST" action="/">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="username" placeholder="Username">    
        <br><br>    
        <label><b>Password   
        </label>    
        <input style="margin-left: 9px;" type="Password" name="password"  placeholder="Password">    
        <br><br>    
        <input type="submit" name="login" value="Log In">        
        <br><br>    
         
    </form>
</body>
<%-include("footer")-%>
