<%-include("head")-%>
<script>
  // functions to set and get theme from session storage
window.onload = setThemeFromSessionStorage;

function setThemeFromSessionStorage() {
  var theme = sessionStorage.getItem("theme");
  if (theme === "light") {
    setLightMode();
  } else {
    setDarkMode();
  }
}

function setSessionStorage(name, value) {
  sessionStorage.setItem(name, value);
}

function getSessionStorage(name) {
  return sessionStorage.getItem(name);
}

// functions to toggle theme
function toggleTheme() {
  var body = document.querySelector("body");
  var ul = document.querySelector("ul");
  var form = document.querySelector(".box");
  if (body.classList.contains("light-mode")) {
    setSessionStorage("theme", "dark");
    setDarkMode();
  } else {
    setSessionStorage("theme", "light");
    setLightMode();
  }
}

// functions to set light and dark mode
function setLightMode() {
  var body = document.querySelector("body");
  var ul = document.querySelector("ul");
  var form = document.querySelector(".box");
  var submitButton = document.querySelector('input[type="submit"]');

  submitButton.classList.add('light-mode');
  
  body.classList.add('light-mode');
  

  ul.classList.add("light-ul");
}


function setDarkMode() {
  var body = document.querySelector("body");
  var ul = document.querySelector("ul");
  var form = document.querySelector(".box");
  var submitButton = document.querySelector('input[type="submit"]');

  submitButton.classList.remove('light-mode');
  form.classList.remove("light-mode");
 
  body.classList.remove("light-mode");
 
  ul.classList.remove("light-ul");
 
}


// call the function on page load
setThemeFromSessionStorage();

</script>
 
<%-include("navigationLogin")-%>
<style>
body{
    margin: 0;
    padding: 0;
}
 
.backdrop-blur {
  filter: blur(1.5px);
}
    form {
      width: 450px;
      margin: 0 auto;
      margin-top: 40px;
      border: 2px black solid;
      padding: 20px;
      border-radius: 20px;
      background-color: rgb(46, 41, 41);
    }
    input[type="text"], input[type="password"], input[type="submit"] {
      width: 100%;
      height: 45px;
      margin-bottom: 15px;
      
      padding: 0 20px;
      box-sizing: border-box;
      
    }
  
    .light-modee{
      background-color:#333;
      color: white;
      border: none;
       ;
    }
    .dark-modee{
      background-color: #1E2A78;
      color: white;
      border: none;
    }
  </style>


  
  <form action="/" method="post" class="box">
    <h2><img style="max-width: 200px; margin-left: 137px;" src="../public/LogoSkola.png" alt=""></h2>
    <label for="username"> <strong>Jméno:</strong> </label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password"><strong>Heslo:</strong></label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit"  value="Login">
  </form> 
  


  <script>

// functions to set and get theme from session storage
window.onload = setThemeFromSessionStorage;

function setThemeFromSessionStorage() {
  var theme = sessionStorage.getItem("theme");
  if (theme === "light") {
    setLightMode();
  } else {
    setDarkMode();
  }
}

function setSessionStorage(name, value) {
  sessionStorage.setItem(name, value);
}

function getSessionStorage(name) {
  return sessionStorage.getItem(name);
}

// functions to toggle theme
function toggleTheme() {
  var body = document.querySelector("body");
  var ul = document.querySelector("ul");
  var form = document.querySelector(".box");
  if (body.classList.contains("light-mode")) {
    setSessionStorage("theme", "dark");
    setDarkMode();
  } else {
    setSessionStorage("theme", "light");
    setLightMode();
  }
}

// functions to set light and dark mode
function setLightMode() {
  var body = document.querySelector("body");
  var ul = document.querySelector("ul");
  var form = document.querySelector(".box");
  var submitButton = document.querySelector('input[type="submit"]');
  submitButton.classList.remove('dark-modee');
  submitButton.classList.add('light-modee');
  
  body.classList.add('light-mode');
  

  ul.classList.add("light-ul");
}


function setDarkMode() {
  var body = document.querySelector("body");
  var ul = document.querySelector("ul");
  var form = document.querySelector(".box");
  var submitButton = document.querySelector('input[type="submit"]');

  submitButton.classList.remove('light-modee');
  submitButton.classList.add('dark-modee');
  form.classList.remove("light-mode");
 
  body.classList.remove("light-mode");
 
  ul.classList.remove("light-ul");
 
}


// call the function on page load
setThemeFromSessionStorage();


  </script>

<style>
  #div {
      margin-top: 200px;
      border-top: dotted 2px #555;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}


  .footerLogo{
      width: 40px;
      height: 40px;
     margin-top: 10px;
      text-align: center;
 
  }
  #a{
     
      padding: 10px;
      text-align: center;
    
 
  }
</style>

<div id="div" >

<a id="a" href="http://www.spsejecna.cz">Střední průmyslová škola elektrotechnická, Praha 2, Ječná 30, Ječná 30, 120 00, Praha 2</a>    
<span>Provozuje SPŠE Ječná © Všechna práva vyhrazena.</span>
<img class="footerLogo" src="../public/LogoSkola2.png" alt="Oficialní stránky">
</div>




<%-include("footer")-%>
