

    <ul  style="font-size: large;"  >
        <li><a href="#home">Entry</a></li>
        <li><a href="#news">Download</a></li>
        <li><a href="#contact">About</a></li>
        
        <ul style="float: right;" >
          <li><a href="#">Switch Theme</a></li>
          <li><a href="/"><%- stav -%> </a></li> 
        </ul>    
      </ul>
 
    
      