<style>
.a{
  filter: blur(5px);
}
a:hover{
  color: rgb(0, 0, 0);
}
body.light-mode form{
  background-color: #e1e1e7;
}

</style>
<script src="../public/dark-light-script.js" ></script>
    <ul  style="font-size: large; display: block;"  >
        <li><a  class="a" style="pointer-events: none" href="#home">The</a></li>
        <li><a class="a" style="pointer-events: none" href="#news">most</a></li>
        <li><a class="a" style="pointer-events: none" href="#contact">secret</a></li>
        <li><a class="a" style="pointer-events: none" href="#contact">text</a></li>
        
        <ul style="float: right;" >
          <li><a href="#" onclick="toggleTheme()"><i class="fas fa-adjust"></i></a>
          <li><a  href="/"><%- stav -%> </a></li> 
        </ul>    
      </ul>
 
    
      