<style>
.a{
  filter: blur(5px);
}
a:hover{
  color: rgb(0, 0, 0);
}


</style>

    <ul  style="font-size: large;"  >
        <li><a  class="a" style="pointer-events: none" href="#home">Entry</a></li>
        <li><a class="a" style="pointer-events: none" href="#news">Download</a></li>
        <li><a class="a" style="pointer-events: none" href="#contact">About</a></li>
        
        <ul style="float: right;" >
          <li><a href="#"> Switch theme</a></li>
          <li><a  href="/"><%- stav -%> </a></li> 
        </ul>    
      </ul>
 
    
      