

  <ul class="topnav" style="font-size:large;">
    <li><a href="#home">Entry</a></li>
    <li><a href="#news">Download</a></li>
    <li><a href="#contact">About</a></li>
    
    <ul style="float: right;" >
      <li>
        <% if (name === 'Admin' || name === 'admin') { %>
          <a href="#"> <span style="color: rgb(255, 5, 5);"> <strong><%- name %> mode</strong> </span> 
          <%} else { %>
            <a href="#">Signed as  <span style="color: rgb(0, 0, 0);"> <strong><%- name %></strong> </span> 
          <% } %>

      </a></li>
      <li><a href="#">Switch Mode</a></li>
      <li><a href="/"><%- stav -%> </a></li> 
    </ul> 
        
</ul>