<%-include("head")-%>
<%-include("navigationGeneral")-%>

<div class="alert success">
    <p>Form has been successfully submitted!</p>
  </div>
  
  <style>
  .alert {
    padding: 20px;
margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute; top: 100px ;left: 600px;
  }
  
  .success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  </style>
  


<%-include("footer")-%>